.ff-secondary {
    font-family: 'pacifico', cursive;
}

.fw-meduim {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}
.box-1:hover{
    transform: scale(1.02);
    transition: .4s;
}